# Ignore screenshot images (common names + extensions)
**/Screenshots/**
**/screenshots/**
*Screenshot*.png
*Screenshot*.jpg
*Screenshot*.jpeg
*Screenshot*.webp
*Screenshot*.gif
*Screenshot*.tif
*Screenshot*.tiff
*Screenshot*.bmp
*Screenshot*.svg
*Screen Shot*.png
*Screen Shot*.jpg
*Screen Shot*.jpeg
*screenshot*.png
*screenshot*.jpg
*screenshot*.jpeg
*screenshot*.webp
*screenshot*.gif
*screenshot*.tif
*screenshot*.tiff
*screenshot*.bmp
*screenshot*.svg

# Ignore instruction text files
**/*instruction*.txt
**/*instructions*.txt
attached_assets/*.txt
attached_assets/**/*.txt
